<ul>
  <li> <a routerLink="/dynamic-form" routerLinkActive="active">dynamic-form</a></li>
  <li> <a routerLink="/reacitve-form" routerLinkActive="active">reacitve-form</a></li>
  <li> <a routerLink="/simple-form" routerLinkActive="active">simple-form</a></li>
  <li> <a routerLink="/simple-form-group" routerLinkActive="active">simple-form-group</a></li>
  <li> <a [routerLink]="['/template']" routerLinkActive="active">template</a></li>
  <!-- <li> <a routerLink="/template" routerLinkActive="active">template</a></li> -->
  
</ul>

